<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tml.mapper.RvcLevelTaskMapper">

    <resultMap id="BaseResultMap" type="com.tml.domain.entity.RvcLevelTask">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="taskName" column="task_name" jdbcType="VARCHAR"/>
            <result property="taskUrl" column="task_url" jdbcType="VARCHAR"/>
            <result property="privilegeCode" column="privilege_code" jdbcType="VARCHAR"/>
            <result property="rule" column="rule" jdbcType="VARCHAR"/>
            <result property="exp" column="exp" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_name,task_url,
        privilege_code,url,exp,
    </sql>

    <select id="getOne" resultType="com.tml.domain.entity.RvcLevelTask">
        SELECT * FROM rvc_level_task ${ew.customSqlSegment}
    </select>
</mapper>
